<footer>
  <div class="main-wrapper">
    <div class="footer">
      <div>
        <ul>
          <li>
            <h4>About VAPH</h4>
          </li>
          <li>
            <a href="">
              Our Story
            </a>
          </li>
          <li><a href="">
            Affiliates & Partners
          </a>
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <li>
            <h4>Customer Services</h4>
          </li>
         
        </ul>
      </div>

        <div class="copyright">
          <p>© 2019 VAPH</p>
        </div>
    </div>
  </div>
</footer>
